
<%= render "shared/header" %>

<div class="main">
  <div class="mypage-profile">
    <div class="username">
      <%= current_user.nickname %>
    </div>
    <div class="introduction">
      <%= current_user.introduction %>
    </div>
  </div>

  <div class="mypage-nav">
    <ul>
      <li class="nav"><%= link_to 'Post', '#', class: 'nav-text' %></li>
      <li class="nav"><%= link_to 'Recomend', '#', class: 'nav-text' %></li>
      <li class="nav"><%= link_to 'Edit Account', edit_user_path(current_user.id), class: 'nav-text' %></li>
    </ul>
  </div>

  <div class="review-contents">
  <h2 class="title">My Diaries</h2>
    <div class="reviews">
      <ul class="review-lists">
        <% @reviews.each do |review| %>
          <li class="list">
            <%= link_to review_path(review.id) do %>  
              <div class="review-img-content">
                <%= image_tag review.image, class: 'review-image' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/footer" %>