<header class="header-7">
  <div class="box box-logo">
    <%= image_tag 'logo-transparent.png', size: '400x400' %>
  </div>
  <div class="sp-nav">
    <i class="fas fa-bars"></i>
  </div>
  <div class="box box-nav">
    <ul class="inner-nav">
      <li class="menu"><%= link_to 'Top', root_path, class: 'menu' %></li>
      <% if user_signed_in?%>
        <li class="menu"><%= link_to 'Mypage', user_path(current_user.id), class: 'menu' %></li>
        <li class="menu"><%= link_to 'New', new_review_path, class: 'menu' %></li>
        <li class="menu"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'menu' %></li>
      <% else %>
        <li class="menu"><%= link_to 'Login', new_user_session_path, class: 'menu' %></li>
        <li class="menu"><%= link_to 'Create Account', new_user_registration_path, class: 'menu' %></li>
      <% end %>
      
    </ul>
  </div>
</header>